

<ion-content class="bg-light">
    <ion-slides pager>
        <ion-slide *ngFor="let slide of slides">
            <img src="{{slide.imgurl}}" class="slide-image" />
            <div class="banner-text">
                <h3 class="slide-title h2class"></h3>
            </div>
        </ion-slide>
    </ion-slides>
    <p padding-left padding-right class="heading">Click to Book Order</p>

    <ion-scroll scrollX style="height:165px;white-space: nowrap;">
        <div class="scroll-item" *ngFor="let service of dataService" (click)="selectproduct(service.sid,service.serviceName)">            
            <div class="item-box" *ngIf="service.sid!=22">               
                <h5 style="font-size: 11px; color: #037DC5;" [innerHTML]="service.serviceName"></h5>   
                <img src="https://admin.kwickwash.com/{{service.serviceImg}}" style="width: 90px; border-radius: 7%;">                            
                <p style="color:black; margin-bottom: 5px;">Starting ₹ {{service.startAt}} {{service.unit}}</p>
                <p style="color:black;">Duration-{{service.duration}} hr</p>
            </div>
        </div>
    </ion-scroll>
    
   <!--<button ion-button block (click)="bookPage()" style="width: 70%;margin-left: 15%;">Book Your Order</button>-->
   
    <p padding-left padding-right class="heading">My Active Order</p>
    <div padding-left padding-right class="order-list">
        <ion-list no-lines>
            <div *ngFor="let olist of orderList" (click)="GetOrderSummary(olist.orderId)">    
                <ion-item *ngIf="olist.deliveryStatus==''" style="background-color: #0876e0 ;">
                    <h2>Order No: {{olist.orderId}}</h2>                
                    <p style="color: wheat; font-weight: bold;">{{olist.deliveryStatus ===''? "Booked": olist.deliveryStatus}}</p>
                    <ion-note item-end><h2 style="color: wheat; font-weight: bold;">₹{{olist.ttlPayableAmount}}</h2>
                        <p style="color: wheat; font-weight: bold;">{{olist.status}}</p>
                    </ion-note>
                </ion-item> 
                <ion-item *ngIf="olist.deliveryStatus=='InProcess'" style="background-color: #dcb62d;">
                  <h2>Order No: {{olist.orderId}}</h2>                
                  <p style="color: black; font-weight: bold;">{{olist.deliveryStatus ===''? "Booked": olist.deliveryStatus}}</p>
                  <ion-note item-end><h2 style="color: black; font-weight: bold;">₹{{olist.ttlPayableAmount}}</h2>
                      <p style="color: black; font-weight: bold;">{{olist.status}}</p>
                  </ion-note>
              </ion-item>    
              <ion-item *ngIf="olist.deliveryStatus=='ReadyForDelivery'" style="background-color: violet;">
                <h2>Order No: {{olist.orderId}}</h2>                
                <p style="color: black; font-weight: bold;">{{olist.deliveryStatus ===''? "Booked": olist.deliveryStatus}}</p>
                <ion-note item-end><h2 style="color: black; font-weight: bold;">₹{{olist.ttlPayableAmount}}</h2>
                    <p style="color: black; font-weight: bold;">{{olist.status}}</p>
                </ion-note>
              </ion-item>             
            </div>
           
        </ion-list>
    </div>
</ion-content>
